.qbBoxShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.28); 
}
.page-wrap{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    min-height:100%;
    background-color: #433c3c;
    text-align: center;

    .page-header{

        .page-header-upper{
            background-image: linear-gradient(#f8f9fb,#f5f7fa);
            height: 0px;
        }

        .page-header-lower{
            background-image: linear-gradient(to right, #0f9b0f, #13d313);
        }
        
        .qb-header{
            position: fixed;
            background-color: rgba(0,0,0,0.3);
            z-index: 20;
            transition-duration: 0.5s;
            width: 100%;

            .qb-header-logo{
                font-size: 20px;
                padding-left: 20px;
            }

            .qb-navbar{
                padding-left: 5%;
                padding-right: 5%;
                //background-color: #23bb3e;
                //background-image:linear-gradient(to right,#4FB81F , #088e20);

                .qb-header-logo{
                    font-size: 28px;
                    font-weight: 600;
                    font-family: "Mukta", sans-serif;
                    
                    .qb-header-logo-icon{
                        padding: 0px 2px;
                    }
                }

                .qb-navbar-collapse{
                    display: inline-block;
                    position: absolute;
                    right: 0px;

                    .qb-nav-item{
                        padding: 10px;
                        font-family: "Mukta", sans-serif;
                        font-weight: 500;
                    }
                }
            }
        }

        @media only screen and (max-width:600px){
            .qb-header{
                position: fixed;
                background-color: rgba(0,0,0,0.3);
                z-index: 20;
                transition-duration: 0.5s;
                width: 100%;
    
                .qb-header-logo{
                    font-size: 20px;
                    padding-left: 20px;
                }
    
                .qb-navbar{
                    padding-left: 1.5%;
                    padding-right: 1.5%;
                    //background-color: #23bb3e;
                    //background-image:linear-gradient(to right,#4FB81F , #088e20);
    
                    .qb-header-logo{
                        font-size: 18px;
                        font-weight: 600;
                        font-family: "Mukta", sans-serif;
                        
                        .qb-header-logo-icon{
                            padding: 0px 2px;
                        }
                    }
    
                    .qb-navbar-collapse{
                        display: inline-block;
                        position: absolute;
                        right: 0px;
    
                        .qb-nav-item{
                            padding: 10px;
                            font-family: "Mukta", sans-serif;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .page-content{
        padding-top: 100px;
    }

    @media only screen and (max-width:600px){
        .page-content{
            padding-top: 65px;
        }
    }

    
    .page-head-wrap{

        .head-logo-wrap{

            .head-logo{
                display: inline-block;
                font-size: 50px;
                font-family: "Mukta", sans-serif;
                font-weight: 600;
                text-shadow:  4px 8px 15px #000;
                color: #4FB81F;
            }
        }
        .head-slogan-wrap{
            font-size: 18px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            color: #e7e4e4;
            
            br{
                display: none;
            }
        }

        @media only screen and (max-width:600px) {
         
            .head-logo-wrap{
                display: none;

                .head-logo{
                    display: inline-block;
                    font-size: 50px;
                    font-family: "Mukta", sans-serif;
                    font-weight: 600;
                    text-shadow:  4px 8px 15px #000;
                    color: #4FB81F;
                }
            }
            .head-slogan-wrap{
                display: block;
                font-size: 14px;
                font-weight: 600;
                padding: 2.5% 5%;
                font-family: "Roboto", sans-serif;
                color: #b1aeae;

                br{
                    display: block;
                }
            }   
        }
    }

    
    .page-mid-wrap{
            

        .page-mid{
            display: table;
            width: 100%;
            text-align: left;

            .page-mid-section{
                display: block;
                float: left;
                width: 50%;
                height: 500px;
                text-align: center;
                position: relative;

                .stage-wrap{
                    position: relative;
                    overflow: hidden;

                    .front-stage-wrap{
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        .front-stage{
                            position: absolute;
                            width: 100%;
                            height: 100%;

                            .front-stage-img-wrap{
                                position: absolute;
                                width: 100%;
                                bottom: -18%;
                                height: auto;
                                text-align: center;

                                .front-stage-img{
                                    position: relative;
                                    display: inline-block;
                                    width: 40%;
                                }
                            }
                        }
                    }

                    .back-stage-wrap{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        
                        .back-stage{
                            position: absolute;
                            width: 500%;
                            height: 100%;
                            left: -300%;
                            animation-name: back-stage-move;
                            animation-duration: 16s;
                            animation-iteration-count: infinite;

                            .back-stage-img-wrap{
                                position: absolute;
                                width: 20%;
                                height: auto;
                                text-align: center;

                                .back-stage-img{
                                    position: relative;
                                    display: inline-block;
                                }
                            }

                            .building-img-wrap_1{
                                left: 0%;
                                bottom: 10%;

                                .building-img_1{
                                    width: 55%;
                                }
                            }
                            .building-img-wrap_2{
                                left: 20%;
                                bottom: 10%;

                                .building-img_2{
                                    width: 55%;
                                }

                                .parking-pin-img{
                                    position: absolute;
                                    top: 2%;
                                    left: 59%;
                                    width: 18%;
                                }
                            }
                            .building-img-wrap_3{
                                left: 40%;
                                bottom: 10%;

                                .building-img_3{
                                    width: 55%;
                                }

                                .no-parking-img{
                                    position: absolute;
                                    width: 12.5%;
                                    top: 50%;
                                    left: 65%;
                                }
                            }
                            .building-img-wrap_4{
                                left: 60%;
                                bottom: 10%;

                                .building-img_4{
                                    width: 47%;
                                }
                            }
                            .building-img-wrap_5{
                                left: 80%;
                                bottom: 10%;

                                .building-img_5{
                                    width: 55%;
                                }
                            }
                        }
                    }
                }

                .page-mid-section-content{
                    width: 500px;
                    height: auto;
            
                    .login-box{
                        display: inline-block;
                        max-width: 500px;
                        width: 75%;
                        border-radius: 2.5px;
                        box-sizing: border-box;

                        .login-section{
                            box-sizing: border-box;
                            text-align: center;
                            margin-bottom: 15px;

                            .login-section-text{
                                text-align: left;
                                padding-left: 10%;
                                padding-top: 5px;
                                padding-bottom: 2px;
                                font-size: 15px;
                                font-weight: 400;
                                font-family:"Roboto",sans-serif;
                                color: #e8e8e8;
                            }
                            .login-section-input{
                                width: 100%;
                                box-sizing: border-box;
                                font-size: 15px;
                                font-weight: 500;
                                font-family: "Mukta", sans-serif;
                                padding: 5px 30px;
                                border: 1px solid grey;
                                border-radius: 2.5px;
                            }

                            .login-terms{
                                text-align: center;
                                font-size: 15px;
                                font-family: "Roboto" ,sans-serif;
                                color: #e8e8e8;
                                font-weight: 400;

                                a{
                                    font-weight: 550;
                                    font-size: 16px;
                                    display: inline;
                                    color: #418ee0;
                                    text-decoration: none;
                                }
                                a:hover{
                                    color: #fff;
                                }
                            }

                            .sign-up-btn{
                                float: right;
                                text-align: center;
                                padding: 7.5px 20px;
                                font-size: 15px;
                                font-family: "Roboto" , sans-serif;
                                font-weight: 450;
                                background-color: #0f9b0f;
                                color: #fbf8f8;
                                border-radius: 5px;
                            }

                            .login-req{
                                text-align: center;
                                font-size: 15px;
                                font-weight: 400;
                                font-family: "Roboto", sans-serif;
                                color: #e8e8e8;

                                a{
                                    font-size: 18px;
                                    text-decoration: none;
                                    color: #418ee0;
                                    font-weight: 700;
                                }
                                a:hover{
                                    color: #fff;
                                }
                            }
                            
                            .login-btn{
                                display: inline-block;
                                text-align: center;
                                padding: 10px 40px;
                                font-size: 15px;
                                font-family: "Roboto" , sans-serif;
                                font-weight: 450;
                                background-color: #0077b5;
                                color: #fbf8f8;
                                border-radius: 5px;
                                margin: 5px 50px;
                                border: 2px solid #1e84b9;
                            }
                        }
                    }
                }
            }

            .box-ratio{
                width: 100%;
                height: 30vw;
            }

            .content-centered{
                display: flex;
                align-items: center;
                justify-content: center;
                //padding-left: 75px;
            }
        }

        @media only screen and (max-width:600px) {
            .page-mid{
                display: block !important;
                width: 100%;
                text-align: left;

                .page-mid-section{
                    display: block;
                    float: unset;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    position: relative;

                    .stage-wrap{
                        display: inline-block;
                        position: relative;
                        overflow: hidden;

                        .front-stage-wrap{
                            position: absolute;
                            width: 80%;
                            height: 100%;

                            .front-stage{
                                position: absolute;
                                width: 100%;
                                height: 100%;

                                .front-stage-img-wrap{
                                    position: absolute;
                                    width: 100%;
                                    bottom: -18%;
                                    height: auto;
                                    text-align: center;

                                    .front-stage-img{
                                        position: relative;
                                        display: inline-block;
                                        width: 40%;
                                    }
                                }
                            }
                        }

                        .back-stage-wrap{
                            position: absolute;
                            width: 80%;
                            height: 100%;
                            
                            .back-stage{
                                position: absolute;
                                width: 500%;
                                height: 100%;
                                left: -300%;
                                animation-name: back-stage-move;
                                animation-duration: 16s;
                                animation-iteration-count: infinite;

                                .back-stage-img-wrap{
                                    position: absolute;
                                    width: 20%;
                                    height: auto;
                                    text-align: center;

                                    .back-stage-img{
                                        position: relative;
                                        display: inline-block;
                                    }
                                }

                                .building-img-wrap_1{
                                    left: 0%;
                                    bottom: 10%;

                                    .building-img_1{
                                        width: 55%;
                                    }
                                }
                                .building-img-wrap_2{
                                    left: 20%;
                                    bottom: 10%;

                                    .building-img_2{
                                        width: 55%;
                                    }

                                    .parking-pin-img{
                                        position: absolute;
                                        top: 2%;
                                        left: 59%;
                                        width: 18%;
                                    }
                                }
                                .building-img-wrap_3{
                                    left: 40%;
                                    bottom: 10%;

                                    .building-img_3{
                                        width: 55%;
                                    }

                                    .no-parking-img{
                                        position: absolute;
                                        width: 12.5%;
                                        top: 50%;
                                        left: 65%;
                                    }
                                }
                                .building-img-wrap_4{
                                    left: 60%;
                                    bottom: 10%;

                                    .building-img_4{
                                        width: 47%;
                                    }
                                }
                                .building-img-wrap_5{
                                    left: 80%;
                                    bottom: 10%;

                                    .building-img_5{
                                        width: 55%;
                                    }
                                }
                            }
                        }
                    }

                    .page-mid-section-content{
                        width: auto;
                        height: auto;
                
                        .login-box{
                            display: inline-block;
                            max-width: unset;
                            width: 75%;
                            border-radius: 2.5px;
                            box-sizing: border-box;

                            .login-section{
                                box-sizing: border-box;
                                text-align: center;
                                margin-bottom: 15px;

                                .login-section-text{
                                    text-align: left;
                                    padding-left: 10%;
                                    padding-top: 5px;
                                    padding-bottom: 2px;
                                    font-size: 15px;
                                    font-weight: 400;
                                    font-family:"Roboto",sans-serif;
                                    color: #e8e8e8;
                                }
                                .login-section-input{
                                    width: 100%;
                                    box-sizing: border-box;
                                    font-size: 15px;
                                    font-weight: 500;
                                    font-family: "Mukta", sans-serif;
                                    padding: 5px 30px;
                                    border: 1px solid grey;
                                    border-radius: 2.5px;
                                }

                                .login-terms{
                                    text-align: center;
                                    font-size: 15px;
                                    font-family: "Roboto" ,sans-serif;
                                    color: #e8e8e8;
                                    font-weight: 400;

                                    a{
                                        font-weight: 550;
                                        font-size: 16px;
                                        display: inline;
                                        color: #418ee0;
                                        text-decoration: none;
                                    }
                                    a:hover{
                                        color: #fff;
                                    }
                                }

                                .sign-up-btn{
                                    float: right;
                                    text-align: center;
                                    padding: 7.5px 20px;
                                    font-size: 15px;
                                    font-family: "Roboto" , sans-serif;
                                    font-weight: 450;
                                    background-color: #0f9b0f;
                                    color: #fbf8f8;
                                    border-radius: 5px;
                                }

                                .login-req{
                                    text-align: center;
                                    font-size: 15px;
                                    font-weight: 400;
                                    font-family: "Roboto", sans-serif;
                                    color: #e8e8e8;

                                    a{
                                        font-size: 18px;
                                        text-decoration: none;
                                        color: #418ee0;
                                        font-weight: 700;
                                    }
                                    a:hover{
                                        color: #fff;
                                    }
                                }
                                
                                .login-btn{
                                    display: inline-block;
                                    text-align: center;
                                    padding: 10px 40px;
                                    font-size: 15px;
                                    font-family: "Roboto" , sans-serif;
                                    font-weight: 450;
                                    background-color: #0077b5;
                                    color: #fbf8f8;
                                    border-radius: 5px;
                                    margin: 5px 50px;
                                    border: 2px solid #1e84b9;
                                }
                            }
                        }
                    }
                }

                .box-ratio{
                    width: 100%;
                    height: 48vw;
                }

                .content-centered{
                    display: block;
                    align-items: unset;
                    justify-content: unset;
                    //padding-left: 75px;
                }
            }
        }
    }
}